<header class="header-container">

    <div class="menu-logo">

        <div class="menu-icon">
            <img id="show-menu" src="/img/menu.svg" alt="">
            <img id="close-menu" src="/img/close.svg" alt="">
        </div>

        <h1 class="logo">
            <a href="/">WebCodePlanet</a>
        </h1>
    
    </div>

    
    <div class="left-header">

        <img class="avatar" src="/img/avatar.jpg" alt="">

        <div class="social-links">

        </div>

        <nav>
            <ul class="navigation">
                <li><a href="/"><img src="/img/home.svg" alt="">Home</a></li>
                <li><a href="/add-post"><img src="/img/add-post.svg" alt="">Add Post</a></li>
            </ul>   
        </nav>

        <a class="button" href="#">Get in touch</a>    

    </div>
</header>