<div class="post-controls">

    <a href="/edit-post.html">
        <img src="/img/edit-post.svg" alt="">
    </a>

    <a href="/delete-post.html">
        <img src="/img/delete-post.svg" alt="">
    </a>

</div>